*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box; 
    background-color:#f4f7f4;
}

a{
    text-decoration: none;  

}

#leftColumn{
    float: left;
    text-align: justify;
    width: 25%;
    position: fixed;
    background-color: #f8fefa;
    height: 100%;
    
}

#rightColumn{
    float: right;
    text-align: justify;
    width: 75%;
}

.item{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: #a65b6c;
    transition: all 300ms ease;
    background-color: inherit;
}

.item:hover{
    color:#871f30 ;
}

#links{
    padding-top: 75%;
      text-align: center;
      background-color: inherit;
}

#logo{
    width:80%;
    padding-top: 10%;
    padding-left: 5%;
    background-color: inherit;
}

#mainTitle{
    color: #871f30;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    margin-top: 5%;
    background-color: inherit;
}

.textInput{
    border: 1px solid #ccc;
    padding-left: 10px; 
    padding-right: 15px;
    height: 40px;
    width:100%;
    min-width: 200px;
}

.riga{
    margin-top: 5.5%;
    margin-left: 31%;
    display: flex;
    justify-content:space-between;
    background-color: inherit;
}

.containerColumn{
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: inherit;
}

.continuaButton{
    margin-top: 5%;
    margin-left: 39%;
    border: 1px solid #ccc;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    font-weight: 1000;
}

.button{
    transition: all 200ms ease;
    float: left;
    text-decoration: none;
    color: #a65b6c; 
    transition: all 200ms ease;
}

.button:hover{
    color:#871f30!important;
    background-color: #ccc!important;
}

.errorLabel{
    color : red;
    margin-left: 25%;
    margin-top: 1%;
}

