*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box; 
    background-color:#f4f7f4;
}

a{
    text-decoration: none;  

}

#leftColumn{
    float: left;
    text-align: justify;
    width: 25%;
    position: fixed;
    background-color: #f8fefa;
    height: 100%;
    
}

#rightColumn{
    float: right;
    text-align: justify;
    width: 75%;
   

}

.item{
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    color: #a65b6c;
    transition: all 300ms ease;
    background-color: inherit;
}

.item:hover{
    color:#871f30 ;
}

#links{
    padding-top: 50%;
      text-align: center;
      background-color: inherit;
}

#logo{
    width:80%;
    padding-top: 10%;
    padding-left: 5%;
    background-color: inherit;
}


.containerCentrale{
    text-align: center;
    display: flex;
    flex-direction: column;
}

#mainTitle{
    color: #871f30;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    margin-top: 5%;
    background-color: inherit;
}

.tabella{
    background-color: inherit;
    padding-left: 80px;
    padding-right: 80px;
}

.riga{
    margin-top: 7%;
    display: flex;
    justify-content:space-between;
    background-color: inherit;
}

.containerColumn{
    display: flex;
    flex-direction: column;
    width: 45%;
    background-color: inherit;
}


.textInput{
    border: 1px solid #ccc;
    padding-left: 10px; 
    padding-right: 15px;
    height: 40px;
    width:100%;
    min-width: 200px;
}

.dateInput{
    padding: 10px 40px 10px 40px;
    font-family: "Roboto Mono" , monospace;
    border: 1px solid #ccc
}



.containerData{
    margin-right: 40px ;
    margin-left: 15%;
    margin-bottom: 20px;
    background-color: inherit;
}

#codiceFiscale{
    margin-top: 40px;
}

#numeroCivicoInput{
    border: 1px solid #ccc;
    padding-left: 10px; 
    padding-right: 15px;
    height: 40px;
    width: 12%;
    margin-right: 43%;
    min-width: 60px;
}

.continuaButton{
    margin-left: 85%;
    border: 1px solid #ccc;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    font-weight: 1000;
}

.button{
    transition: all 200ms ease;
    float: left;
    text-decoration: none;
    color: #a65b6c; 
    transition: all 200ms ease;
}

.button:hover{
    color:#871f30!important;
    background-color: #ccc!important;
}

.floatLeft{
    margin-right: 10%;
}

.title{
    color: #871f30;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    margin-top: 7%;
    background-color: inherit;
}
>>>>>>> master
